<nav class="navbar-default navbar-static-side">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div style="margin-top: -16%;">
          <img alt="image" class="nav-label img-circle" src="img/logo.png" style="width: 40px; height: 40px;float: left;" />
          <!-- <span class="block m-t-xs" style="white-space:nowrap;">
          <span style="font-size:x-small;color: white" >&nbsp&nbsp SUPERIOR UNIVERSITY</span>
          </span> -->
          <strong class="nav-label" style="font-size:x-small;color:white" >&nbsp&nbsp SUPERIOR UNIVERSITY</strong>
          <strong class="nav-label text-muted text-xs" style="color:white">&nbsp &nbsp STUDENT PORTAL </strong>
        </div>
      </li>
      <div ng-controller="weatherdata as vm" class="row" style="margin-bottom:16%;">
        <div class="col-md-5 " style="margin-left: 8%; border-style:solid !important;border-color:white !important;border-width:2px!important;">
          <p class="nav-label" style="color:greenyellow;text-align: center">{{vm.day}}</p>
          <p class="nav-label font-bold" style="font-weight: bolder;margin-top: -19%;margin-bottom: -5%;font-size: 24px;color:white ;text-align: center">{{vm.date}}</p>
          <p class="nav-label" style="color:greenyellow;text-align: center">{{vm.month}}</p>
        </div>
        <div ng-controller="weatherdata as vm" class="nav-label col-md-5" style="margin-left: 1%; border-style:solid !important;border-color:white !important;border-width:2px!important;">
          <p style="color:greenyellow;text-align: center;text-transform:uppercase;">{{vm.desc}}</p>
          <p class="nav-label font-bold" style="font-weight: bolder;margin-top: -19%;margin-bottom: -5%;font-size: 24px;color:white ;text-align: center">&nbsp {{vm.temp}} &#176</p>
          <p class="nav-label" style="color:greenyellow;text-align: center">
            <nobr> {{vm.city}}</nobr>
          </p>
        </div>
      </div>
      <li class="active" ng-controller="studentrollno as rl">
        <a  ng-href="/#/bi/studentportal/dashboard/{{rl.roll}}">
            <i  class="fa fa-home fa-lg"></i> <span   class="nav-label">HOME</span>  </a>
        <hr class="hrstylenav">
        <a  href="/#/bi/studentportal/dashboard/{{rl.roll}}">
              <i class="fa fa-file-alt fa-lg "></i> <span class="nav-label">COURSE REGISTRATION</span>  </a>
        <hr class="hrstylenav">
        <a  href="/#/bi/studentportal/attendance/{{rl.roll}}">
                <i class="fa fa-file-signature fa-lg"></i> <span class="nav-label">ATTENDANCE</span>  </a>
        <hr class="hrstylenav">
        <a  href="/#/bi/studentportal/marks/{{rl.roll}}">
                  <i class="fa fa-file-contract fa-lg"></i> <span class="nav-label">MARKS</span>  </a>
        <hr class="hrstylenav">
        <a  href="/#/bi/studentportal/feedetails/{{rl.roll}}">
                    <i class="fa fa-receipt fa-lg"></i> <span class="nav-label">FEE CHALLAN</span>  </a>
        <hr class="hrstylenav">
        <a  href="/#/bi/studentportal/feedetails/{{rl.roll}}">
                    <i class="fa fa-coins fa-lg"></i> <span class="nav-label">FEE DETAILS</span>  </a>
        <hr class="hrstylenav">
        <a href="/#/bi/studentportal/dashboard/{{rl.roll}}">
                    <i class="fa fa-comment fa-lg"></i> <span class="nav-label">COURSE FEEDBACK </span>  </a>
        <hr class="hrstylenav">
        <a  href="/#/bi/studentportal/dashboard/{{rl.roll}}">
                        <i class="fa fa-calendar-alt fa-lg"></i> <span class="nav-label">STUDY PLAN </span>  </a>
        <hr class="hrstylenav">
        <a  href="/#/bi/studentportal/dashboard/{{rl.roll}}">
                          <i class="fa fa-book fa-lg"></i> <span class="nav-label">DIGITAL LIBRARAY</span>  </a>
        <hr class="hrstylenav">
        <a  href="/#/bi/studentportal/dashboard/{{rl.roll}}">
                            <i class="fa fa-life-ring fa-lg"></i> <span class="nav-label">STUDENT SUPPORT</span>  </a>
        <hr class="hrstylenav">
        <a  href="/#/bi/studentportal/dashboard/{{rl.roll}}">
                              <i class="fa fa-headset fa-lg"></i> <span class="nav-label">IT SUPPORT </span>  </a>
        <hr class="hrstylenav">
        <a  href="/#/bi/studentportal/profile/{{rl.roll}}">
                                <i class="fa fa-user fa-lg"></i> <span class="nav-label">MY PROFILE </span>  </a>
        <hr class="hrstylenav">
      </li>
    </ul>
  </div>
</nav>